.content{
    margin: 50px;
    margin-left: 300px;
    background-color: white;
    min-height: 710px;
    padding: 30px;
}
.modify{
    width: 100%;
    font-size: 16px;
    color: #333333;
}
.modify .title{
    color: #333333;
    font-weight: bold;
}
.modify .lines{
    width: 100%;
    height: 1px;
    background-color: #D7D8DB;
    margin: 20px 0;
}
.modifyInfor{
    width: 100%;
}
.modifyInfor label{
    display: inline-block;
    width: 120px;
    margin-bottom: 20px;
}
.modifyInfor input{
    width: 420px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}
.modifyCode input{
    width: 280px;
}
.modifyCode button{
    outline: none;border: 0;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #2B2B2B;
    color: #c2c2c2;
    margin-left: 16px;
}
.modifyCode div:hover{
    cursor: pointer;
}
.preservation{
    width: 120px;
    height: 32px;
    background-color: #DA3644;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
}
.preservation:hover{
    cursor: pointer;
}